html {
    height: 100;
    width: 100;
}

body {
    width: 1080px; 
    height: 1920px;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Calibri,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100%; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#myCanvas {
    position: absolute;
    z-index: 1;
}

#video1 {
    position: fixed;
    left:-370px;
    z-index: -1;
}


#chat {
    font-size: 4vmin;  
}

.bubble
{
    display: none;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left : 5%;
    padding-right: 5%;
    padding-top: 0%;
    padding-bottom: 0%;
    vertical-align: top;
    line-height: 150%;
    width: 60%;

}

#BosqueRojo {
    padding: 0%;
    display:inline-block;
}

.bubble.blue
{
    margin-left: 1%;
    color: #000;
    background-color: rgba(131, 251, 162, 0.4);
}


.bubble.white
{
    background-color: rgba(28, 73, 40, 0.4);
    color: white;
    text-align: right;
    margin-left: 29%;
}

#writer{
	outline: none;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#writer input{
    width: 100%;
	box-sizing: border-box;
	height: 12vmin;
	padding: 5px 8px;
    border:1px solid #aaa;
	font-size: 4vmin;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:4px;
	outline: none;
}