body {
    width: 1080px; 
    height: 1920px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: white;
    font-family: Calibri,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: lighter;
    margin: 0px;
    padding-top: 1%;
    font-size:  6vmin;
    text-align: center;
    z-index: 1;
}

#wrapper {
    width: 100%; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
}

#myCanvas {
    position: absolute;
    z-index: 1;
}

#backgroundCanvas {
    position: absolute;
    z-index: -1;
}

#video1 {

    position: fixed;
     left:-370px;
    z-index: -1;
}

#logoHolder {
}

#logo {
    height: 12vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

#chat {
    font-size: 4vmin;
    
}

.bubble
{
	display: none;
    margin-top: 2%;
    margin-bottom: 4%;
	padding: 5%;
	vertical-align: top;
	line-height: 150%;
	width: 50%;
    padding-top: 70px;
    padding-bottom: 70px;

}

.blue
{
    margin-left: 1%;
    color: black;
    background: url(../img/bulles/bulle-neutre-gauche.png) no-repeat center center;
    background-size: 100% 100%;
}


.white
{

	color: white;
	text-align: right;
    margin-left: 39%;
    background: url(../img/bulles/bulle-neutre-droite.png) no-repeat center center;
    background-size: 100% 100%;

}

#writer{
	outline: none;
}

#writer input{
    width: 100%;
	box-sizing: border-box;
	height: 12vmin;
	padding: 5px 8px;
    border:1px solid #aaa;
	font-size: 4vmin;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    border-radius:4px;
	outline: none;
}
