body {
    width: 1080px; 
    height: 1920px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: white;
    font-family: Calibri,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

#wrapper {
    width: 100%; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(#10597e, #5baab1);
	background-color: #5baab1;
}