body {
    width: 1080px; 
    height: 1920px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    color: white;
    font-family: Calibri,'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

h1 {
    font-weight: lighter;
    margin: 0px;
    padding-top: 5%;
    padding-bottom: 5%;
    font-size:  20vmin;
    text-align: center;
}

#wrapper {
    width: 100%; 
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    //background-image: linear-gradient(#10597e, #5baab1);
	//background-color: #5baab1;
}

#video1 {
    position: fixed;
     left:-370px;
    z-index: -1;
}

#backgroundCanvas {
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

#logoHolder {
}

#logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#intro {
    margin-top: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-weight: lighter;
    font-size: 4vmin;
    background-color: rgba(223, 140, 88, 0.4);
    width: 85%;
    border-radius: 35px;
}

#startButton {
    padding-top: 2%;
    padding-bottom:4%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    font-weight: lighter;
    font-size: 4vmin;
    background-color: rgba(121, 46, 0, 0.4);
    width: 50%;
    border-radius: 35px;
}

#buttonHolder {
    
}

